<template>
    <footer class="footer">
        <p class="footer__text">
            КСК.TЗ
        </p>
    </footer>
</template>

<script>
export default {
  name: 'FooterComponent',
};
</script>

<style lang="scss" scoped>
    .footer {
        margin-top: auto;
        padding: 8px 16px;
        background-color: var(--footer-color)
    }
</style>
