<template>
    <button
        @click="toggleModal"
        class="remove table__remove"
        type="button"
    >
        <svg class="remove__icon">
            <use xlink:href="@/assets/icons/sprites.svg#options"></use>
        </svg>
        <removeModal
            :id="id"
            v-if="isOpen"
        />
    </button>
</template>

<script>
import removeModal from './removeModal.vue';

export default {
  name: 'removeButton',
  components: {
    removeModal,
  },
  data() {
    return {
      isOpen: false,
    };
  },
  props: {
    id: String,
  },
  methods: {
    toggleModal() {
      this.isOpen = !this.isOpen;
    },
  },
};
</script>

<style lang="scss" scoped>
.remove {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color: transparent;
    width: 14px;
    height: 14px;
    border: none;
    &__icon {
        width: 4px;
        height: 14px;
    }
}

</style>
