<template>
    <div
        @click="removeElements"
        class="remove-modal"
    >
        <svg class="remove-modal__icon">
            <use xlink:href="@/assets/icons/sprites.svg#remove"></use>
        </svg>
        <p class="remove-modal__text">
            удалить
        </p>
    </div>
</template>

<script>
export default {
  name: 'removeModal',
  props: {
    id: String,
  },
  methods: {
    removeElements() {
      this.$store.dispatch('removeCardElement', this.id);
    },
  },
};
</script>

<style lang="scss" scoped>
    .remove-modal {
        position: absolute;
        top: 100%;
        right: 100%;
        display: flex;
        align-items: center;
        border-radius: 2px;
        padding: 8px;
        width: 148px;
        box-shadow: 0px 4px 4px rgba(182, 182, 182, 0.25);
        background-color: var(--white-color);
        &:hover  .remove-modal__icon {
            fill: #045DA7;
        }
        &:hover  .remove-modal__text {
            color: #045DA7;
        }
        &__icon {
            margin-right: 11px;
            width: 12px;
            height: 12px;
            fill: #647A8C;
            transition: .3s fill linear;
        }
        &__text {
            color: #2B2839;
            transition: .3s color linear;
        }
    }
</style>
