<template>
    <ul class="dropdown">
        <li
            class="dropdown__item"
            v-for="category of filtredTypes"
            :key="category"
            @click="chooseType"
        >
            {{ category }}
        </li>
    </ul>
</template>

<script>

export default {
  name: 'SelectMenu',
  props: {
    categories: Array,
  },
  data() {
    return {
      type: '',
    };
  },
  computed: {
    filtredTypes() {
      const set = new Set();
      for (let i = 0; i < this.categories.length; i++) {
        set.add(this.categories[i].type);
      }
      return set;
    },
  },
  methods: {
    chooseType(e) {
      this.type = e.currentTarget.textContent;
      this.$store.dispatch('setStoreType', this.type);
      this.$emit('chooseType', this.type);
    },
  },
};

</script>

<style lang="scss" scoped>
    .dropdown {
        position: absolute;
        top: calc(100% - 1px);
        left: 0;
        width: 100%;
        background-color: var(--white-color);
        z-index: 1;
        &__item {
            border: 1px solid #E0E5E6;
            padding: 8px 12px;
            cursor: pointer;
        }
    }
</style>
