<template>
    <ul class="dropdown">
        <li
            data-sort="increase"
            class="dropdown__item"
            @click="chooseSort"
        >
            По убыванию
            <svg class="dropdown__icon">
                <use xlink:href="@/assets/icons/sprites.svg#up"></use>
            </svg>
        </li>
        <li
            data-sort="decrease"
            class="dropdown__item"
            @click="chooseSort"
        >
            По возрастанию
            <svg class="dropdown__icon">
                <use xlink:href="@/assets/icons/sprites.svg#down"></use>
            </svg>
        </li>
    </ul>
</template>

<script>

export default {
  name: 'SortMenu',
  methods: {
    chooseSort(e) {
      this.$store.dispatch('sortCards', e.currentTarget.dataset.sort);
      this.$emit('chooseSort', e.currentTarget.textContent);
    },
  },
};

</script>

<style lang="scss" scoped>
    .dropdown {
        position: absolute;
        top: calc(100% - 1px);
        left: 0;
        width: 100%;
        background-color: var(--white-color);
        z-index: 1;
        &__item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: 1px solid #E0E5E6;
            padding: 8px 12px;
            cursor: pointer;
        }
        &__icon {
            width: 16px;
            height: 16px;
        }
    }
</style>
