<template>
  <div class="global-wrap">
    <HeaderComponent />
      <main id="main">
        <ContentSection />
      </main>
    <FooterComponent />
  </div>
</template>

<script>
import './assets/styles/style.scss';

import HeaderComponent from './components/static/HeaderComponent.vue';
import FooterComponent from './components/static/FooterComponent.vue';

import ContentSection from './components/mainContent/ContentSection.vue';

export default {
  name: 'App',
  components: {
    HeaderComponent,
    FooterComponent,
    ContentSection,
  },
};
</script>

<style lang="scss" scoped>
  .global-wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
</style>
