html {
    font-size: 62.5%;
}
* {
    box-sizing: border-box;
    font: normal 400 var(--default-size) / 1.2 'Roboto', sans-serif;
}
body {
    background-color: var(--bg-color);
}
ul {
    padding: 0;
    list-style-type: none;
}
p, h1, ul {
    margin: 0;
}
dl, dd {
    margin: 0;
}
button {
    padding: 0;
    cursor: pointer;
}
.container {
    padding: 0 110px;
    margin: 0 auto;
}
.h1-title {
    font-size: var(--h1-size);
    font-weight: 700;
    line-height: 1.17;
}
input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }