:root {
    --default-size: 1.4rem;
    --h1-size: 3.6rem;

    --white-color: #fff;
    --default-color: #000;
    --blue-color: #045DA7;
    --bg-color: #F8F8F8;
    --footer-color: #ECECEC;
    --footer-text-color: #393B3D; 
}