<template>
    <section class="content">
        <div class="container">
            <div class="content__wrap">
                <FilterSelect
                  v-model="searchedFragment"
                />
                <div class="content__main">
                    <div class="content__head">
                        <SortSelect />
                        <ViewSwitcherVue />
                    </div>
                    <router-view :searchedFragment="searchedFragment"> </router-view>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import router from '../../router';
import FilterSelect from './FilterSelect.vue';
import SortSelect from './SortSelect.vue';
import ViewSwitcherVue from './ViewSwitcher.vue';

import data from '../../api/cards.json';

export default {
  name: 'ContentSection',
  components: {
    FilterSelect,
    SortSelect,
    ViewSwitcherVue,
  },
  data() {
    return {
      searchedFragment: '',
    };
  },
  mounted() {
    router.push(({ name: 'TableView', params: { 0: '/' } })).catch((err) => { console.log(err); });
    this.$store.dispatch('setTheme', 'TableView');
    this.$store.dispatch('formatData', data);
  },
};

</script>

<style lang="scss" scoped>
  .content {
    padding: 32px 0;
    &__main {
      width: 100%;
    }
    &__wrap {
      display: flex;
      gap: 16px;
    }
    &__head {
      display: flex;
      align-items: center;
      gap: 16px;
      margin-bottom: 16px;
    }
  }
</style>
