<template>
    <aside class="filter">
        <div class="filter__head">
            <p class="filter__title">
                Фильтр
            </p>
        </div>
        <form class="filter__body">
            <label for="searchByFragment" class="filter__label">
                <p class="filter__subtitle">
                    Номер накладной:
                </p>
                <input
                    @input="$emit('input', $event.target.value)"
                    class="filter__input"
                    id="searchByFragment"
                    type="search"
                    placeholder="Введите фрагмент"
                >
            </label>
            <label
                @click="changeFocus"
                :class="{ 'active': onFocus }"
                for="orderType"
                class="filter__label"
            >
                <p class="filter__subtitle">
                    Тип заказа:
                </p>
                <input
                    class="filter__input"
                    id="orderType"
                    type="text"
                    placeholder="Выберите из списка"
                    readonly
                    v-model="category"
                >
                <SelectMenu
                    v-show="onFocus"
                    :categories="this.getCategories"
                    @chooseType="chooseType"
                />
            </label>
        </form>
    </aside>
</template>

<script>

import SelectMenu from '../../ui/SelectMenu.vue';

export default {
  name: 'FilterSelect',
  components: {
    SelectMenu,
  },
  props: {
    value: {
      type: String,
    },
  },
  data() {
    return {
      onFocus: false,
      category: '',
    };
  },
  computed: {
    getCategories() {
      return this.$store.getters.cards;
    },
  },
  methods: {
    changeFocus() {
      this.onFocus = !this.onFocus;
    },
    chooseType(type) {
      this.category = type;
      this.onFocus = false;
    },
  },
};
</script>

<style lang="scss" scoped>
    .filter {
        max-width: 280px;
        width: 100%;
        height: 100%;
        filter: drop-shadow(0px 4px 8px rgba(179, 178, 178, 0.25));
        background-color: var(--white-color);
        &__head {
            border-bottom: 1px solid #F8F8F8;
            padding: 8px 16px;
        }
        &__body {
            padding: 16px;
        }
        &__title {
            font-size: 1.6rem;
            font-weight: 700;
        }
        &__subtitle {
            margin-bottom: 4px;
            font-weight: 700;
        }
        &__label {
            position: relative;
            display: block;
            &:not(:last-child) {
                margin-bottom: 16px;
            }
            &[for="orderType"] {
                &::before {
                    content: '';
                    position: absolute;
                    right: 10px;
                    bottom: 12px;
                    display: block;
                    width: 10px;
                    height: 10px;
                    background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1389_23)'%3E%3Cpath d='M9.88588 2.58566C9.73348 2.43294 9.48617 2.43271 9.33344 2.58509L5.27621 6.6339C5.12389 6.7862 4.87609 6.78618 4.7235 6.63361L0.666563 2.58509C0.513848 2.43269 0.266543 2.43294 0.114121 2.58566C-0.0382615 2.73837 -0.0380076 2.9857 0.114688 3.13808L4.17135 7.18632C4.39988 7.41482 4.69998 7.52904 5.00012 7.52904C5.30008 7.52904 5.6001 7.41486 5.82834 7.1866L9.88531 3.13808C10.038 2.9857 10.0383 2.73837 9.88588 2.58566Z' fill='black'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1389_23'%3E%3Crect width='10' height='10' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
                &.active::before {
                    transform: rotate(180deg);
                }
            }
        }
        &__input {
            display: block;
            border: 1px solid #D9D9D9;
            border-radius: 2px;
            padding: 8px 12px;
            width: 100%;
            background-color: transparent;
            &:focus {
                border-color: var(--default-color);
                outline: none
            }
        }
        #orderType {
            cursor: pointer;
        }
    }
</style>
