<template>
    <div class="sort">
        <label
        @click="changeVisibility"
        :class="{ 'active': isOpen }"
          class="sort__label"
          for="sort"
        >
          <input
            v-model="category"
            id="sort"
            class="sort__input"
            placeholder="Сортировка"
            type="text"
            readonly
          >
          <SortMenu
            @chooseSort="chooseSort"
            v-show="isOpen"
          />
        </label>
    </div>
</template>

<script>

import SortMenu from '../../ui/SortMenu.vue';

export default {
  name: 'SortSelect',
  data() {
    return {
      isOpen: false,
      category: '',
    };
  },
  components: {
    SortMenu,
  },
  methods: {
    changeVisibility() {
      this.isOpen = !this.isOpen;
    },
    chooseSort(e) {
      this.isOpen = false;
      this.category = e;
    },
  },
};
</script>

<style lang="scss" scoped>
  .sort {
    border-radius: 3px;
    padding: 16px;
    width: 100%;
    background-color: var(--white-color);
    box-shadow: 0px 4px 12px #E7E7E7;
    &__label {
      position: relative;
      display: block;
      width: 232px;
      &::before {
        content: '';
        position: absolute;
        right: 10px;
        bottom: 12px;
        display: block;
        width: 10px;
        height: 10px;
        background-image: url("data:image/svg+xml,%3Csvg width=%2710%27 height=%2710%27 viewBox=%270 0 10 10%27 fill=%27none%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cg clip-path=%27url%28%23clip0_1389_23%29%27%3E%3Cpath d=%27M9.88588 2.58566C9.73348 2.43294 9.48617 2.43271 9.33344 2.58509L5.27621 6.6339C5.12389 6.7862 4.87609 6.78618 4.7235 6.63361L0.666563 2.58509C0.513848 2.43269 0.266543 2.43294 0.114121 2.58566C-0.0382615 2.73837 -0.0380076 2.9857 0.114688 3.13808L4.17135 7.18632C4.39988 7.41482 4.69998 7.52904 5.00012 7.52904C5.30008 7.52904 5.6001 7.41486 5.82834 7.1866L9.88531 3.13808C10.038 2.9857 10.0383 2.73837 9.88588 2.58566Z%27 fill=%27black%27/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id=%27clip0_1389_23%27%3E%3Crect width=%2710%27 height=%2710%27 fill=%27white%27/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
      }
      &.active::before {
        transform: rotate(180deg);
      }
    }
    &__input {
      display: block;
      border: 1px solid #E0E5E6;
      border-radius: 2px;
      padding: 8px 12px;
      width: 100%;
      cursor: pointer;
      &:focus {
        outline: none;
        border-color: #000;

      }
    }
  }
</style>
