<template>
    <table class="table">
        <thead class="table__head">
          <tr>
            <td>
              ID
            </td>
            <td>
              Номер накладной
            </td>
            <td>
              Тип заказа
            </td>
            <td>
              Дата создания
            </td>
            <td>

            </td>
          </tr>
        </thead>
        <tbody class="table__body">
          <tr
            v-for="item in searchedFragment ? findItems : getItems"
            :key="item.id"
          >
            <td>
              {{ item.id }}
            </td>
            <td>
              {{ item.number }}
            </td>
            <td>
              {{ item.type }}
            </td>
            <td>
              {{ item.creationDate }}
            </td>
            <td>
              <removeButton
                :id="item.id"
              />
            </td>
          </tr>
        </tbody>
    </table>
</template>

<script>
import removeButton from '../../ui/removeButton.vue';

export default {
  name: 'TableView',
  components: {
    removeButton,
  },
  props: {
    searchedFragment: String,
  },
  computed: {
    getItems() {
      return this.$store.state.orderType ? this.$store.getters.cardsByTypes : this.$store.getters.cards;
    },
    findItems() {
      return this.$store.state.orderType
        ? this.$store.getters.cardsByTypes.filter((card) => card.number.toLowerCase().includes(this.searchedFragment.toLowerCase()))
        : this.$store.getters.cards.filter((card) => card.number.toLowerCase().includes(this.searchedFragment.toLowerCase()));
    },
  },
};
</script>

<style lang="scss" scoped>
  .table {
    width: 100%;
    border-collapse: collapse;
    &__head {
      & td {
        position: relative;
        padding: 12px 0;
        background-color: #E6E6E6;
        font-weight: 700;
        text-align: center;
        &:not(:last-child)::before {
          content: '';
          position: absolute;
          right: 0;
          top: 0;
          display: block;
          width: 3px;
          height: 100%;
          background-color: var(--white-color)
        }
        &:last-child {
          width: 65px;
        }
      }
    }
    &__body {
      & tr {
        border: 1px solid #E6E6E6;
        border-spacing: 3px;
      }
      & td {
        padding: 12px 0;
        &:first-child {
          padding-left: 16px;
        }
      }
    }
  }
</style>
