<template>
  <ul class="list">
    <li
      v-for="item in searchedFragment ? findItems : getItems"
      :key="item.id"
      class="list__item card"
    >
      <div class="card__head">
        <p class="card__subtitle">
          {{ item.id }}
        </p>
        <removeButton
          class="card__button"
          :id="item.id"
        />
      </div>
      <ul class="card__body">
        <li class="card__description">
          <p class="card__info">
            Номер накладной:
          </p>
          <p class="card__text">
            {{ item.number }}
          </p>
        </li>
        <li class="card__description">
          <p class="card__info">
            Тип заказа:
          </p>
          <p class="card__text">
            {{ item.type }}
          </p>
        </li>
        <li class="card__description">
          <p class="card__info">
            Дата создания:
          </p>
          <p class="card__text">
            {{ item.creationDate }}
          </p>
        </li>
      </ul>
    </li>
  </ul>
</template>

<script>
import removeButton from '../../ui/removeButton.vue';

export default {
  name: 'VidgetView',
  props: {
    searchedFragment: String,
  },
  components: {
    removeButton,
  },
  computed: {
    getItems() {
      return this.$store.state.orderType ? this.$store.getters.cardsByTypes : this.$store.getters.cards;
    },
    findItems() {
      return this.$store.state.orderType
        ? this.$store.getters.cardsByTypes.filter((card) => card.number.toLowerCase().includes(this.searchedFragment.toLowerCase()))
        : this.$store.getters.cards.filter((card) => card.number.toLowerCase().includes(this.searchedFragment.toLowerCase()));
    },
  },
};
</script>

<style lang="scss" scoped>
.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}
.card {

  &__head {
    display: flex;
    justify-content: space-between;
    padding: 12px 16px;
    background-color: rgba(237, 232, 245, 0.5);
  }
  &__button {
    margin: 0;
  }
  &__body {
    display: block;
    height: calc(100% - 41px);
    border-radius: 0 0 3px 3px;
    padding: 8px 32px 8px 16px;
    background-color: #F6FAFB;
    box-shadow: 0px 4px 12px #EBEBEB;
  }
  &__description {
    display: flex;
  }
  &__info, &__text {
    height: 32px;
  }
  &__info {
    display: inline-block;
    margin-right: 8px;
    width: 123px;
    font-weight: 700;
    color: #647A8C;
  }
  &__text {
    display: inline-block;
    width: calc(100% - 123px - 8px)
  }
}
</style>
