<template>
  <div class="switcher">
    <button
      :disabled="getTheme === 'TableView'"
      @click="chooseTheme"
      data-view="TableView"
      class="switcher__button"
      type="button"
    >
      <svg class="switcher__icon">
        <use xlink:href="@/assets/icons/sprites.svg#vidget"></use>
      </svg>
    </button>
    <button
      :disabled="getTheme === 'VidgetView'"
      @click="chooseTheme"
      data-view="VidgetView"
      class="switcher__button"
      type="button"
    >
      <svg class="switcher__icon">
        <use xlink:href="@/assets/icons/sprites.svg#table"></use>
      </svg>
    </button>
  </div>
</template>

<script>

import router from '../../router';

export default {
  name: 'ViewSwitcher',
  computed: {
    getTheme() {
      return this.$store.state.theme;
    },
  },
  methods: {
    chooseTheme(e) {
      router.push(({ name: `${e.currentTarget.dataset.view}`, params: { 0: '/' } }));
      this.$store.dispatch('setTheme', e.currentTarget.dataset.view);
    },
  },
};
</script>

<style lang="scss" scoped>
  .switcher {
    display: flex;
    &__button {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #647A8C;
      width: 40px;
      height: 40px;
      background-color: transparent;
      &:first-child {
        border-radius: 3px 0 0 3px;
      }
      &:last-child {
        border-radius: 0 3px 3px 0;
      }
      &:disabled {
        background-color: var(--white-color);
        pointer-events: none;
      }
    }
    &__icon {
      display: block;
      width: 16px;
      height: 12px;
    }
  }
</style>
